<div class="index-container">
  <div class="flex-item"><img src="./images/beer.png" alt=""></div>
  <div class="flex-item"><a href="beers">Check the Beers!</a></div>
  <div class="flex-item"><a href="random-beer">Check a Random Beer!</a></div>  
</div>